@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;
  --font-sans: 'Inter var', var(--font-sans);
}

@layer components {
  .button {
    @apply px-4 py-2;
    @apply bg-indigo-400 text-white hover:bg-indigo-500 focus-visible:bg-indigo-500;
    /* @apply dark:bg-opacity-[15%] dark:hover:bg-opacity-30 dark:focus-visible:bg-opacity-30 dark:text-gray-50; */
    @apply sm:text-sm font-medium;
    @apply rounded-lg focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500;

    &.floating {
      @apply shadow-md hover:shadow-lg;
    }

    &.icon {
      @apply p-2;
    }

    &.light {
      @apply bg-white text-black hover:bg-gray-200 hover:text-indigo-900;
    }
  }
}
