.noShrinkIcon {
  position: relative;

  & svg {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
  }
}

.flowViewSection {
  width: 100%;
  min-height: 100%;
  min-height: calc(100vh - 13rem);
  min-height: 100dvh;
  min-height: calc(100dvh - calc(var(--spacing) * 13));
}
