@reference "tailwindcss"

.head {
  cursor: move;
}

.fieldsTableRow:first-child > * {
  border-top: 0px;
}

.handle {
  &.bottom {
    @apply -bottom-2;
  }

  &.left {
    left: calc(-2px - theme('spacing.2')) !important;
  }

  &.right {
    right: calc(-2px - theme('spacing.2')) !important;
  }

  &.top {
    @apply -top-2;
  }
}

